<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load humanize %}
    <a href="{% url 'posts:main' %}">메인페이지로 돌아가기</a><br>
    {% if user.is_authenticated %}
    <p>nickname : {{ user.nickname }}</p>

    <a href="{% url 'accounts:mypage' %}">마이페이지</a>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>

    <hr>

    <h2>{{ category.name }}</h2>

    <form method="POST" action="{% url 'posts:create' %}">
        {% csrf_token %}
        <input type="text" name="title" placeholder="제목 입력">
        <br>

        <textarea name="content" placeholder="본문 입력"></textarea>
        <br>

        <label>
            <input type="checkbox" name="is_anonymous">
            익명
        </label>

        <button type="submit">작성 완료</button>
    </form>

{% endif %}

<hr>

{% for post in posts %}
    <h3><a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a></h3>
    <p>{{ post.created_at|naturaltime }}</p>

    <p>
        댓글 {{ post.comments.count }}
        공감 {{ post.likes.count }}
    </p>
    <hr>

{% empty %}
    <p>게시글 없음</p>

{% endfor %}
</body>
</html>